<nz-card>

  <div style="display: flex;">
    <div>
      <img src="https://via.placeholder.com/210x132"/>
    </div>

    <div style="flex: 1;overflow: hidden;padding-left: 10px;padding-right: 10px;">
      <div class="post-item-title">
        New Orleans From All Angles
      </div>
      <div class="post-item-title">
        New Orleans From All Angles
      </div>
      <div>
        684 views • 23 comments
      </div>
    </div>

    <div>
      <button nz-button nzType="primary" nzSize="large" nzShape="circle"><i class="anticon anticon-download"></i></button>
      <button nz-button nzType="primary" nzSize="large" nzShape="circle"><i class="anticon anticon-download"></i></button>
      <button nz-button nzType="primary" nzSize="large" nzShape="circle"><i class="anticon anticon-download"></i></button>
      <button nz-button nzType="primary" nzSize="large" nzShape="circle"><i class="anticon anticon-download"></i></button>
    </div>
  </div>

</nz-card>
