<div style="padding: 30px;">

  <div style="display: flex;justify-content: space-between;margin-bottom: 30px;">
    <button nz-button nzType="primary"><i class="anticon anticon-file-add"></i>New Post</button>
    <div>
      <nz-radio-group>
        <label nz-radio-button nzValue="A">所有</label>
        <label nz-radio-button nzValue="B">已发布</label>
        <label nz-radio-button nzValue="C">草稿</label>
        <label nz-radio-button nzValue="C">已删除</label>
        <!--0 草稿，1 待审核 -1 已删除 2 已发布-->
      </nz-radio-group>

      <nz-input-group slot="" nzSuffixIcon="anticon anticon-search" style="width: 250px;margin-left: 16px;">
        <input type="text" nz-input placeholder="请输入关键字">
      </nz-input-group>
    </div>
  </div>

  <nz-list
    [nzDataSource]="posts"
    [nzItemLayout]="'horizontal'"
    [nzPagination]="pagination"
    [nzRenderItem]="item">
    <ng-template #item let-item>
      <nz-list-item>
        <nz-list-item-meta
          [nzDescription]="nzDescription">
          <ng-template #nzDescription>
            <nz-card>
              <div style="display: flex;">
                <div style="flex-shrink: 0;margin-right: 24px;">
                  <img src="https://via.placeholder.com/216x135"/>
                </div>
                <div style="flex-grow: 1;height: 135px;display: flex;flex-direction: column;">
                  <div style="flex-shrink: 0;margin-bottom:6px;">
                    <strong style="font-size: 16px;">{{item.title}}</strong>
                  </div>
                  <div style="flex-grow: 1;overflow: hidden;font-size: 12px;">
                    {{item.description}}
                  </div>

                  <div style="flex-shrink: 0;margin-top: 5px;font-size: 13px;display: flex;">
                    <div style="flex-grow: 1;">
                      <nz-tag [nzColor]="'#f50'">#f50</nz-tag>
                      <nz-tag [nzColor]="'#2db7f5'">#2db7f5</nz-tag>
                      <nz-tag [nzColor]="'#87d068'">#87d068</nz-tag>
                      <nz-tag [nzColor]="'#108ee9'">#108ee9</nz-tag>
                    </div>
                    <div style="flex-shrink: 0;">
                      <a href="#">Android</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <span style="color: rgba(0,0,0,.45);font-size: 12px;">{{item.publish_date}}</span>
                    </div>
                  </div>

                </div>
                <div style="flex-shrink:0;margin-left: 60px;margin-right: 26px;width: 150px;height: 135px;
                text-align: center;display: flex;    align-items: center;">
                  <nz-card [nzBordered]="false" [nzBodyStyle]="actionStyle" style="height: 100px;">
                    <div nz-card-grid [ngStyle]="gridStyle">
                      <div style="padding: 5px;display: flex;
                      justify-content: center;align-items: center;flex-direction:column;">
                        <i class="anticon anticon-edit"></i>
                        <span style="font-size: 10px;">编辑</span>
                      </div>
                    </div>
                    <div nz-card-grid [ngStyle]="gridStyle">
                      <div style="padding: 5px;display: flex;
                      justify-content: center;align-items: center;flex-direction:column;">
                        <i class="anticon anticon-eye-o"></i>
                        <span style="font-size: 10px;">访问</span>
                      </div>
                    </div>
                    <div nz-card-grid [ngStyle]="gridStyle">
                      <div style="padding: 5px;display: flex;
                      justify-content: center;align-items: center;flex-direction:column;">
                        <i class="anticon anticon-question-circle-o"></i>
                        <span style="font-size: 10px;">Edit</span>
                      </div>
                    </div>
                    <div nz-card-grid [ngStyle]="gridStyle">
                      <div style="padding: 5px;display: flex;
                      justify-content: center;align-items: center;flex-direction:column;">
                        <i class="anticon anticon-delete"></i>
                        <span style="font-size: 10px;">删除</span>
                      </div>
                    </div>
                    <div nz-card-grid [ngStyle]="gridStyle">
                      <div style="padding: 5px;display: flex;
                      justify-content: center;align-items: center;flex-direction:column;">
                        <i class="anticon anticon-question-circle-o"></i>
                        <span style="font-size: 10px;">Edit</span>
                      </div>
                    </div>
                  </nz-card>
                </div>
              </div>
            </nz-card>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
    </ng-template>
  </nz-list>

</div>
