<h1 class="doc-title mdui-text-color-theme">撰写新文章</h1>

<div style="overflow: hidden;*zoom: 1;">
  <div class="mdui-float-right" style="width: 250px;margin-top: 16px;">
    <div
      style="">
      <div class="mdui-panel" mdui-panel>
        <div class="mdui-panel-item mdui-panel-item-open">
          <div class="mdui-panel-item-header">
            <div class="mdui-panel-item-title"><strong>信息概览</strong></div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>
          <div class="mdui-panel-item-body">
            <div class="mdui-row">
              <div class="mdui-col-xs-6">
                <button class="mdui-btn mdui-btn-raised mdui-btn-dense"
                        (click)="previewBlog()">预览</button>
              </div>
              <div class="mdui-col-xs-6">
                <button class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-float-right mdui-btn-dense"
                        (click)="publish()">发布
                </button>
              </div>
            </div>
            <div>
              <p>
                <i class="mdui-icon material-icons">library_books</i>
                状态：
                <span>草稿</span>
              </p>
            </div>
            <div>
              <p>
                <i class="mdui-icon material-icons">library_books</i>
                分类：
                <span>呵呵打</span>
                <a href="#" (click)="selectCategory()">编辑</a>
              </p>
            </div>
            <div>
              <p>
                <i class="mdui-icon material-icons">library_books</i>
                公开度：
                <span>公开</span>
                <a href="#" (click)="selectPrivacy()">编辑</a>
              </p>
            </div>
            <div class="mdui-row">
              <a href="#" (click)="remove()">移动到回收站</a>
            </div>
          </div>
        </div>
        <div class="mdui-panel-item mdui-panel-item-open">
          <div class="mdui-panel-item-header">
            <div class="mdui-panel-item-title"><strong>标签</strong></div>
            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>
          <div class="mdui-panel-item-body">
            <div class="mdui-chip">
              <img class="mdui-chip-icon" src="https://via.placeholder.com/40x40"/>
              <span class="mdui-chip-title">历史</span>
              <span class="mdui-chip-delete"><i class="mdui-icon material-icons">cancel</i></span>
            </div>
            <div>
              <p><a href="#" (click)="selectTag()">选择标签</a></p>
            </div>
            <div>
              <p><a href="#" (click)="addTag()">新增标签</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="editMark" id="editMark">
    <div class="left">
      <header>
        <input (keyup)="editTitle($event)"
               type="text" value="" id="markTitle" placeholder="请输入文章标题">
      </header>
      <nav>
        <div class="handleArea">
          <abbr title="粗体" id="boldSet">
            <i class="mdui-icon material-icons">format_bold</i>
          </abbr>
          <abbr title="斜体" id="xieSet">
            <i class="mdui-icon material-icons">format_italic</i>
          </abbr>
          <abbr title="超链接" id="httpSet">
            <i class="mdui-icon material-icons">link</i>
          </abbr>
          <abbr title="图片" id="imgSet">
            <i class="mdui-icon material-icons">image</i>
          </abbr>
          <abbr title="表格" id="tableSet">
            <i class="mdui-icon material-icons">border_all</i>
          </abbr>
        </div>
        <div class="saveArea">
          <abbr title="预览" id="previewSet" (click)="previewContent()" data-show="true">
            <i class="mdui-icon material-icons">remove_red_eye</i>
          </abbr>
          <abbr title="全屏" id="fullScreen" (click)="fullScreen()">
            <i class="mdui-icon material-icons">fullscreen</i>
          </abbr>
          <abbr title="退出全屏" id="exitFullScreen" (click)="exitFullScreen()"
                style="display:none;">
            <i class="mdui-icon material-icons">fullscreen_exit</i>
          </abbr>
          <abbr title="保存" id="saveMd" (click)="save()">
            <i class="mdui-icon material-icons">save</i>
          </abbr>
        </div>
      </nav>
      <div class="mdui-textfield" style="padding-top: 0px;">
        <textarea class="mdui-textfield-input"
                  style="min-height: 400px;background-color: #ffffff;"
                  (keyup)="editContent($event)"
                  placeholder="Description"></textarea>
      </div>
    </div>
    <!--<div class="right">-->
    <!--</div>-->
  </div>
</div>
