<div>
  <a href="#">全部(20)</a>
  <a href="#">图片(16)</a>
  <a href="#">音乐(3)</a>
  <a href="#">视频(1)</a>
  <a href="#">其他(0)</a>
</div>

<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile>
    <img src="http://iph.href.lu/200x200">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="http://iph.href.lu/200x200">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="http://iph.href.lu/200x200">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="http://iph.href.lu/200x200">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="http://iph.href.lu/200x200">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="http://iph.href.lu/200x200">
  </mat-grid-tile>

</mat-grid-list>

