<h1 class="doc-title mdui-text-color-theme">评论</h1>
<div>
  <a href="#">全部(20)</a>
  <a href="#">已批准(16)</a>
  <a href="#">待审核(3)</a>
  <a href="#">垃圾(1)</a>
  <a href="#">回收站(0)</a>
</div>

<div>
  <select class="mdui-select" mdui-select>
    <option value="1">批量操作</option>
    <option value="2">批准</option>
    <option value="3">标记垃圾</option>
    <option value="4">删除</option>
  </select>
  <button class="mdui-btn mdui-color-theme-accent mdui-ripple">应用</button>
  <select class="mdui-select" mdui-select>
    <option value="1">日期</option>
    <option value="2">最近一年</option>
    <option value="3">三个月内</option>
    <option value="4">一个月内</option>
  </select>
  <select class="mdui-select" mdui-select>
    <option value="1">状态</option>
    <option value="2">待审核</option>
    <option value="3">垃圾</option>
    <option value="3">回收站</option>
  </select>
  <button class="mdui-btn mdui-color-theme-accent mdui-ripple">筛选</button>
</div>
<div>
  <table class="mdui-table mdui-table-hoverable mdui-table-selectable">
    <thead>
    <tr>
      <th>作者</th>
      <th>回复内容</th>
      <th>回复文章</th>
      <th>时间
        <i class="mdui-icon material-icons">arrow_drop_down</i>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-avatar mdui-icon material-icons">folder</i>
          <div class="mdui-list-item-content">
            <div class="mdui-list-item-title">fkldshjfdsgf</div>
            <div class="mdui-list-item-text">omeljaingfr@gmail.com</div>
          </div>
        </div>
      </td>
      <td>Hello world!</td>
      <td>android开发指南
        <a href="#">（3条评论）</a>
      </td>
      <td>2017-11-20 23:09/待审核</td>
    </tr>
    <tr>
      <td>
        <div class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-avatar mdui-icon material-icons">folder</i>
          <div class="mdui-list-item-content">
            <div class="mdui-list-item-title">fkldshjfdsgf</div>
            <div class="mdui-list-item-text">omeljaingfr@gmail.com</div>
          </div>
        </div>
      </td>
      <td>Hello world!</td>
      <td>android开发指南
        <a href="#">（3条评论）</a>
      </td>
      <td>2017-11-20 23:09/草稿</td>
    </tr>
    <tr>
      <td>
        <div class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-avatar mdui-icon material-icons">folder</i>
          <div class="mdui-list-item-content">
            <div class="mdui-list-item-title">fkldshjfdsgf</div>
            <div class="mdui-list-item-text">omeljaingfr@gmail.com</div>
          </div>
        </div>
      </td>
      <td>Hello world!</td>
      <td>android开发指南
        <a href="#">（3条评论）</a>
      </td>
      <td>2017-11-20 23:09/删除</td>
    </tr>
    </tbody>
  </table>
</div>
