<div style="padding: 30px;">

  <nz-card [nzBordered]="false" [nzExtra]="extraTemplate">

    <nz-list
      [nzDataSource]="data"
      [nzItemLayout]="'horizontal'"
      [nzPagination]="pagination"
      [nzRenderItem]="item">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent" [nzActions]="[editAction,moreAction]">
          <ng-template #editAction><a>accept</a></ng-template>
          <ng-template #moreAction><a>more</a></ng-template>
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
            nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team">
            <ng-template #nzTitle>
              <a href="https://ng.ant.design">{{item.title}}</a>
              <span style="font-size: 10px;color: rgba(0,0,0,.45);margin-left: 10px;">3小时前</span>
            </ng-template>
            <ng-template #nzContent>
              <div>
                <a>《那是一种内在的东西》</a>
              </div>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
      <ng-template #pagination>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
      </ng-template>
    </nz-list>

  </nz-card>

  <ng-template #extraTemplate>
    <nz-radio-group>
      <label nz-radio-button nzValue="A">Published</label>
      <label nz-radio-button nzValue="B">Pending</label>
      <label nz-radio-button nzValue="C">Trash</label>
    </nz-radio-group>

    <nz-input-group nzSuffixIcon="anticon anticon-search" style="width: 250px;">
      <input type="text" nz-input placeholder="input search text">
    </nz-input-group>
  </ng-template>

</div>
