.login-area {
    text-align: center;
    min-width: 400px;
}

body {
    background-color: #FAFAFA;
}

.mdl-mega-footer {
    background-color: transparent;
}

.login-layout {
    background-color: white;
    border: 1px solid #cacaca;
    border-radius: 3px;
    width: 272px;
    padding: 16px;
    margin: 0 auto;
    margin-top: 16px;
}

.login-logo {
    padding-top: 32px;
    padding-bottom: 24px;
}

.login-logo img {
    height: 48px;
}

.login-info {
    margin-bottom: 15px;
    font-size: 18px;
}

.login-button {
    width: 272px;
    margin-top: 10px;
}

.login-footer-layout {
    width: 272px;
    padding: 16px;
    margin: 0 auto;
    margin-top: 100px;
}