.index-layout-transparent {
    background: url('http://www.mdlcss.com/assets/demos/transparent.jpg');
    background-repeat: no-repeat;
    margin-top: -64px;
}

.index-layout-transparent .mdl-layout__header,
.index-layout-transparent .mdl-layout__drawer-button {
    color: white;
}

.index-button {
    /*color: blue;*/
    /*background-color: white;*/
    text-align: center;
    /*border-radius: 30px;*/
    margin-top: 50px;
}

.index-main-card {
    /*max-width: 200px;*/
}

.index-card-width.mdl-card {
    width: auto;
    /*width:200px;*/
    /*height: 320px;*/
}

.index-card-width > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('http://www.mdlcss.com/assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

.index-card-width > .mdl-card__menu {
    color: #fff;
}

.index-footer {
    padding-left: 100px;
    padding-right: 100px;
}

.index-footer p {
    word-wrap: break-word;
    padding-right: 40px;
}

.index-footer-divider {
    margin-top: 10px;
    padding-top: 0;
    height: 1px;
    background: #53585c;
}