<!--<nz-list
  [nzDataSource]="data"
  [nzRenderItem]="item"
  [nzGrid]="{gutter: 16, xs: 24, sm: 12, md: 6, lg: 6, xl: 4 }">
  <ng-template #item let-item>
    <nz-list-item [nzContent]="nzContent">
      <ng-template #nzContent>
&lt;!&ndash;        <nz-card nzHoverable style="width:240px;padding: 10px;" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Europe Street beat"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" src="https://cdn.dribbble.com/users/19894/screenshots/491652/sprawsmicons.jpg"/>
        </ng-template>&ndash;&gt;
        <nz-card [nzTitle]="item.title">
          Card content
        </nz-card>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>-->

<!--<nz-card nzHoverable style="width:240px;padding: 10px 10px 0px 10px;" [nzCover]="coverTemplate">
  <nz-card-meta nzTitle="Europe Street beat"></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img alt="example" src="https://cdn.dribbble.com/users/19894/screenshots/491652/sprawsmicons.jpg"/>
</ng-template>-->

<div>
  <nz-dropdown>
    <a nz-dropdown>
      All type <i class="anticon anticon-down"></i>
    </a>
    <ul nz-menu nzSelectable>
      <li nz-menu-item>
        <a>Image</a>
      </li>
      <li nz-menu-item>
        <a>Video</a>
      </li>
      <li nz-menu-item>
        <a>Music</a>
      </li>
      <li nz-menu-item>
        <a>Document</a>
      </li>
      <li nz-menu-item>
        <a>Other</a>
      </li>
    </ul>
  </nz-dropdown>

  <nz-dropdown>
    <a nz-dropdown>
      All time <i class="anticon anticon-down"></i>
    </a>
    <ul nz-menu nzSelectable>
      <li nz-menu-item>
        <a>this past week</a>
      </li>
      <li nz-menu-item>
        <a>this past month</a>
      </li>
      <li nz-menu-item>
        <a>this past year</a>
      </li>
      <li nz-menu-item>
        <a>All time</a>
      </li>
    </ul>
  </nz-dropdown>

  <nz-input-group style="width: 300px;float: right;" nzSuffixIcon="anticon anticon-search">
    <input type="text" nz-input placeholder="input search text">
  </nz-input-group>

  <div style="clear:both;"></div>

</div>


<div style="display:flex;flex-wrap:wrap;justify-content: center;">

  <div style="width:220px;" *ngFor="let item of data">
    <div style="background-color: white;width:220px;height:161px;padding: 10px;
  border:1px solid #e8e8e8;border-radius: 3px;">
      <div style="display:block;width: 200px;height: 141px;">
        <img alt="example" src="https://via.placeholder.com/200x141"/>
      </div>

    </div>
    <div style="padding: 5px 10px;font-weight: 600;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
      Black Clover le nouvel arc est présenté en vidéo VOSTFR
    </div>
  </div>

</div>



