<div class="mdui-row">
  <div class="mdui-col mdui-col-md-4 mdui-col-sm-12">
    <div class="mdui-card mdui-shadow-1" style="height: 204px;">
      <div class=" mdui-card-content">
        <p class="mdui-typo-title">站点信息</p>
        <button class="mdui-btn mdui-color-theme-accent mdui-ripple">站点设置</button>
      </div>
    </div>
  </div>

  <div class="mdui-col mdui-col-md-4 mdui-col-sm-12">
    <div class="mdui-card mdui-shadow-1" style="height: 204px;">
      <div class="mdui-card-content">
        <p class="mdui-typo-title">信息概览</p>
        <div class="mdui-row">
          <div class="mdui-col-xs-6">
            <p>
              <i class="mdui-icon material-icons">library_books</i>
              1篇文章
            </p>
          </div>
          <div class="mdui-col-xs-6">
            <p>
              <i class="mdui-icon material-icons">library_books</i>
              2个页面
            </p>
          </div>
        </div>
        <div class="mdui-row">
          <div class="mdui-col-xs-6">
            <p>
              <i class="mdui-icon material-icons">library_books</i>
              5条评论
            </p>
          </div>
          <div class="mdui-col-xs-6">
            <p>
              <i class="mdui-icon material-icons">library_books</i>
              5条评论审核
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mdui-col mdui-col-md-4 mdui-col-sm-12" >
    <div class="mdui-card mdui-shadow-1" style="height: 204px;">
      <div class=" mdui-card-content">
        <p class="mdui-typo-title">站点信息</p>
        <button class="mdui-btn mdui-color-theme-accent mdui-ripple">站点设置</button>
      </div>
    </div>
  </div>
</div>

<div class="mdui-row mdui-m-t-4">

  <div class="mdui-col-md-8 mdui-col-sm-12">
    <div class="mdui-panel" mdui-panel>
      <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
          <div class="mdui-panel-item-title"><strong>最近发布</strong></div>
          <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
          <ul class="mdui-list">
            <li class="mdui-list-item mdui-ripple">
              <div class="mdui-list-item-content">
                <div class="mdui-list-item-title mdui-list-item-one-line">
                  子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」
                </div>
                <div class="mdui-list-item-text mdui-list-item-one-line">
                  <span class="mdui-text-color-theme-text">All Connors</span>
                  3天前
                </div>
              </div>
            </li>
            <li class="mdui-list-item mdui-ripple">
              <div class="mdui-list-item-content">
                <div class="mdui-list-item-title mdui-list-item-one-line">
                  子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」
                </div>
                <div class="mdui-list-item-text mdui-list-item-one-line">
                  <span class="mdui-text-color-theme-text">All Connors</span>
                  3天前
                </div>
              </div>
            </li>
            <li class="mdui-list-item mdui-ripple">
              <div class="mdui-list-item-content">
                <div class="mdui-list-item-title mdui-list-item-one-line">
                  子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」
                </div>
                <div class="mdui-list-item-text mdui-list-item-one-line">
                  <span class="mdui-text-color-theme-text">All Connors</span>
                  3天前
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="mdui-col-md-4 mdui-col-sm-12">
    <div class="mdui-panel" mdui-panel>
      <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">
          <div class="mdui-panel-item-title"><strong>最新评论</strong></div>
          <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-panel-item-body">
          <ul class="mdui-list">
            <li class="mdui-list-item mdui-ripple">
              <div class="mdui-list-item-avatar"><img src="https://via.placeholder.com/40x40"/></div>
              <div class="mdui-list-item-content">
                <div class="mdui-list-item-title mdui-list-item-one-line">
                  Oui oui
                  <span>评论了</span>
                  《Hello world!》
                </div>
                <div class="mdui-list-item-text mdui-list-item-two-line">
                  新华社布宜诺斯艾利斯11月17日电（记者倪瑞捷）阿根廷海军17日举行新闻发布会证实，载有40名船员的“圣胡安”号潜艇自15日起失联，阿根廷军方已采取行动搜寻失联潜艇。据阿根廷海军方面消息，该潜艇主要负责阿根廷马德林港附近海域的巡逻任务，初步推测失联原因是潜艇蓄电池故障导致供电系统出现异常。阿根廷海军新闻发言人表示，目前还没有与“圣胡安”号潜艇上的任何人取得联系。阿根廷海军已派出巡洋舰和飞机对马德林港附近海域进行搜索。
                </div>
              </div>
              <i class="mdui-list-item-icon mdui-icon material-icons" mdui-menu="{target: '#example-1'}">chat_bubble</i>
              <ul class="mdui-menu" id="example-1">
                <li class="mdui-menu-item">
                  <a href="javascript:;" class="mdui-ripple">Refresh</a>
                </li>
                <li class="mdui-menu-item">
                  <a href="javascript:;" class="mdui-ripple">Settings</a>
                </li>
                <li class="mdui-divider"></li>
                <li class="mdui-menu-item">
                  <a href="javascript:;" class="mdui-ripple">Sign out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
