<div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="Card title" [nzExtra]="extraTemplate">
      <div nz-row>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>12</b>
          Posts
        </div>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>12</b>
          Pages
        </div>

      </div>

      <div nz-row>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>112</b>
          Comments
        </div>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>1</b>
          Moderation
        </div>

      </div>

    </nz-card>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>
  </div>
  <div nz-col nzSpan="8">
    <nz-card nzTitle="Card title" [nzExtra]="extraTemplate">
      <p>Card content</p>
      <p>Card content</p>
      <p>Card content</p>
    </nz-card>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>
  </div>
  <div nz-col nzSpan="8">
    <nz-card nzTitle="Card title" [nzExtra]="extraTemplate">
      <p>Card content</p>
      <p>Card content</p>
      <p>Card content</p>
    </nz-card>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>
  </div>
</div>
...
<br/>
Really
<br/>...<br/>...<br/>...<br/>
long
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>
content
