<div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="At a Glance" [nzExtra]="extraTemplate">
      <div nz-row>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>12</b>
          Posts
        </div>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>12</b>
          Pages
        </div>

      </div>

      <div nz-row>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>112</b>
          Comments
        </div>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>1</b>
          Moderation
        </div>

      </div>

      <nz-divider></nz-divider>
      <div nz-row>

        <div nz-col nzSpan="12">
          <b>STORAGE</b>
          70%
        </div>

        <div nz-col nzSpan="12" style="text-align: end;">
          <b>7Gb</b>
          of
          <b>10Gb</b>
        </div>
      </div>

      <nz-progress [nzPercent]="70" [nzShowInfo]="false"></nz-progress>

      <div nz-row>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>12</b>
          Images
        </div>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>12</b>
          Videos
        </div>

      </div>

      <div nz-row>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>112</b>
          Musics
        </div>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>1</b>
          Other Files
        </div>

      </div>

    </nz-card>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="Views" [nzExtra]="extraTemplate">
      <div nz-row>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>12</b>
          Posts
        </div>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>12</b>
          Pages
        </div>

      </div>

      <div nz-row>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>112</b>
          Comments
        </div>

        <div nz-col nzSpan="12">
          <i class="anticon anticon-exception"></i>
          <b>1</b>
          Moderation
        </div>

      </div>

    </nz-card>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="Popular Posts" [nzExtra]="extraTemplate">

      <div style="display: flex;">
        <div>
          <img src="https://via.placeholder.com/72x45"/>
        </div>

        <div style="flex: 1;">
          <div style="    width: 100%;
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;">
            Roaglfdsgdfsgjfldjgoresjgoijsogjofsdljgfdsg
          </div>
          <div>Text</div>
        </div>
      </div>

    </nz-card>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>
  </div>

</div>
...
<br/>
Really
<br/>...<br/>...<br/>...<br/>
long
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>...
<br/>...<br/>...<br/>...<br/>...<br/>...<br/>
content
