<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" opened="true" mode="side">
    <p>Auto-resizing sidenav</p>

    <mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <mat-icon matListIcon>folder</mat-icon>
        <a matLine href="#">{{ link }}</a>
      </mat-list-item>
    </mat-nav-list>


  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <span>AFlow</span>
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
