<div class="mdui-drawer mdui-drawer-open" id="main-drawer">
  <div class="mdui-list" mdui-collapse="{accordion: true}">

    <div class="mdui-text-center" style="padding-top: 40px;padding-bottom: 60px;">
      <img class="mdui-img-circle" style="height: 60px;width: 60px;"
           src="https://cdn.dribbble.com/users/1070781/screenshots/3865751/__1x.gif"/>
      <div class="mdui-typo-headline" style="font-weight:700;">Tralala</div>
      <div class="mdui-typo-body-1-opacity">mdui-list-item-icon mdui-icon</div>
    </div>
    <div class="mdui-list-item mdui-ripple" (click)="toWorkBench()">
      <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>
      <div class="mdui-list-item-content">工作台</div>
    </div>

    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-deep-orange">layers</i>
        <div class="mdui-list-item-content">博客管理</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list" style="">
        <a href="#" class="mdui-list-item mdui-ripple ">撰写博客</a>
        <a href="#" class="mdui-list-item mdui-ripple ">文章管理</a>
        <a href="#" class="mdui-list-item mdui-ripple ">评论管理</a>
        <a href="#" class="mdui-list-item mdui-ripple ">分类管理</a>
        <a href="#" class="mdui-list-item mdui-ripple ">标签管理</a>
        <a href="#" class="mdui-list-item mdui-ripple ">页面</a>
        <a href="#" class="mdui-list-item mdui-ripple ">设置</a>
      </div>
    </div>

    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-green">widgets</i>
        <div class="mdui-list-item-content">多媒体</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list" style="">
        <a href="/media/add" class="mdui-list-item mdui-ripple ">添加多媒体</a>
        <a href="/media" class="mdui-list-item mdui-ripple ">多媒体列表</a>
        <a href="./ripple" class="mdui-list-item mdui-ripple ">设置</a>
      </div>
    </div>

    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-brown">view_carousel</i>
        <div class="mdui-list-item-content">JavaScript 插件</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list" style="">
        <a href="./collapse" class="mdui-list-item mdui-ripple ">Collapse</a>
        <a href="./headroom" class="mdui-list-item mdui-ripple ">Headroom</a>
      </div>
    </div>

    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-purple">local_mall</i>
        <div class="mdui-list-item-content">资源</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list" style="">
        <a href="./material_icon" class="mdui-list-item mdui-ripple ">Material 图标</a>
      </div>
    </div>
  </div>
</div>
