<div class="doc-footer-nav mdui-color-theme" style=" clear: both; /* 清除浮动元素格式 */
  position: relative;">
  <div class="mdui-container">
    <div class="mdui-row">
      <a href="./compatibility" class="mdui-ripple mdui-color-theme mdui-col-xs-2 mdui-col-sm-6 doc-footer-nav-left">
        <div class="doc-footer-nav-text">
          <i class="mdui-icon material-icons">arrow_back</i>
          <span class="doc-footer-nav-direction mdui-hidden-xs-down">Previous</span>
          <div class="doc-footer-nav-chapter mdui-hidden-xs-down">兼容性</div>
        </div>
      </a>

      <a href="./jq" class="mdui-ripple mdui-color-theme mdui-col-xs-10 mdui-col-sm-6 doc-footer-nav-right">
        <div class="doc-footer-nav-text">
          <i class="mdui-icon material-icons">arrow_forward</i>
          <span class="doc-footer-nav-direction">Next</span>
          <div class="doc-footer-nav-chapter">JavaScript 工具库</div>
        </div>
      </a>
    </div>
  </div>
</div>
