<nz-sider style="overflow: auto; height: 100vh; position: fixed; left: 0">
  <div class="logo">
  </div>

  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
    <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">Dashboard</span></span></li>
    <li nz-menu-item><span><i class="anticon anticon-video-camera"></i><span class="nav-text">Posts</span></span></li>
    <li nz-menu-item><span><i class="anticon anticon-upload"></i><span class="nav-text">Comments</span></span></li>
    <li nz-menu-item><span><i class="anticon anticon-cloud-o"></i><span class="nav-text">Medias</span></span></li>
    <li nz-menu-item><span><i class="anticon anticon-bar-chart"></i><span class="nav-text">Categories/Tags</span></span>
    </li>
    <li nz-menu-item><span><i class="anticon anticon-appstore-o"></i><span class="nav-text">Setting</span></span></li>
  </ul>
</nz-sider>
