<nz-sider style="overflow: auto; height: 100vh; position: fixed; left: 0">
  <div class="logo">
  </div>

  <div style="text-align: center;">
    <nz-avatar nzSize="large" nzIcon="anticon anticon-user"></nz-avatar>
    <div style="color: white;">Admin</div>
    <div style="color: white;">描述说明</div>
  </div>

  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
    <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">工作台</span></span></li>
    <li nz-menu-item><span><i class="anticon anticon-video-camera"></i><span class="nav-text">文章</span></span></li>
    <li nz-menu-item><span><i class="anticon anticon-upload"></i><span class="nav-text">评论</span></span></li>
    <li nz-menu-item><span><i class="anticon anticon-cloud-o"></i><span class="nav-text">媒体</span></span></li>
    <li nz-menu-item><span><i class="anticon anticon-bar-chart"></i><span class="nav-text">分类</span></span></li>
    <li nz-menu-item><span><i class="anticon anticon-shop"></i><span class="nav-text">页面</span></span></li>
    <li nz-menu-item><span><i class="anticon anticon-appstore-o"></i><span class="nav-text">设置</span></span></li>
  </ul>
</nz-sider>
