#main {
  transition: all 500ms ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#main-container {
  height: calc(100% - 25px);
}


#left-panel {
  position: absolute;
  left: 0;
  width: 50%;
  height: calc(100% - 25px);
  transition: all 500ms ease-in-out;
}

#right-panel {
  position: absolute;
  right: 0;
  width: 50%;
  height: calc(100% - 25px);
  transition: all 500ms ease-in-out;
}

#main.read-mode #left-panel {
  left: -50%;
  width: 50%;
}

#main.read-mode #right-panel {
  width: 100%;
  padding-right: 4px;
}

#main.read-mode #right-panel .cover-top {
  left: 0;
  width: calc(100% - 10px);
}

#main.write-mode #left-panel {
  width: 100%;
}

#main.read-mode #left-panel .cover-top {
  width: calc(100% - 10px);
}

#main.write-mode #right-panel {
  right: -50%;
  width: 50%;
}

#editor {
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: all 500ms ease-in-out;
  -webkit-user-select: initial;
}

#main.write-mode.write-mode-thin .CodeMirror-scroll {
  width: calc(100% / 3 + 6px) !important;
  padding-left: calc(100% / 3) !important;
  padding-right: calc(100% / 3) !important;
}

#main.write-mode.write-mode-medium .CodeMirror-scroll {
  width: calc(100% / 2 + 6px) !important;
  padding-left: calc(100% / 4) !important;
  padding-right: calc(100% / 4) !important;
}

#main.write-mode.write-mode-wide .CodeMirror-scroll {
  width: calc((100% / 3) * 2 + 6px) !important;
  padding-left: calc(100% / 6) !important;
  padding-right: calc(100% / 6) !important;
}

#editor.write-mode .CodeMirror-scroll {
  padding-left: 0;
  padding-right: 0;
  width: calc(100% + 30px) !important;
}

#editor.focus .CodeMirror-line {
  transition: opacity 150ms !important;
  opacity: 0.3;
}

#editor.focus .CodeMirror-activeline .CodeMirror-line {
  opacity: 1;
}

.CodeMirror-activeline-background { background: none; }

#editor textarea {
  width: 0;
  height: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

cover {
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: default;
  z-index: 1000;
}

.cover-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
}

#left-panel .cover-top {
  left: 0;
}

#right-panel .cover-top {
  right: 0;
}

.cover-nobackground {
  background: transparent !important;
}

#cover-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  z-index: 1000;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  -webkit-app-region: no-drag;
}

#cover-bottom #cover-bottom-background-left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 500ms ease-in-out;
}

#cover-bottom #cover-bottom-background-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  transition: all 500ms ease-in-out;
}

#main.read-mode #cover-bottom-background-left {
  left: -50%;
}

#main.read-mode #cover-bottom-background-right {
  width: 100%;
}

#main.write-mode #cover-bottom-background-left {
  width: 100%;
}

#main.write-mode #cover-bottom-background-right {
  right: -50%;
}

#cover-bottom .button-bottom {
  display: inline-block;
  pointer-events: auto;
  color: #b3b3b3;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

#cover-bottom-left {
  position: absolute;
  left: 0;
  width: calc(50% - 10px);
  height: 100%;
  padding-left: 10px;
}

#cover-bottom-right {
  position: absolute;
  right: 0;
  width: calc(50% - 10px);
  height: 100%;
  padding-right: 10px;
  text-align: right;
}

#cover-bottom .button-bottom.hover {
  color: #cecece;
}

#cover-bottom .button-bottom:active {
  color: #dcdcdc;
}


