<div id="electron-titlebar" class="inset" style="z-index: 1; ">
  <div class="drag" id="drag-left"></div>
  <div class="drag" id="drag-right"></div>
</div>
<div id="main" class="notransition">
  <div id="side-menu-cover"></div>
  <div id="file-tree-cover"></div>
  <div id="main-container">
    <div id="left-panel">
      <div id="editor">
        <textarea></textarea>
      </div>
      <div class="cover-top"></div>
    </div>

    <div id="right-panel">
      <div id="container-wrapper" tabindex="-1">
        <div id="container" class="preview"></div>
      </div>
      <div class="cover-top"></div>
    </div>
  </div>
</div>

<!--<div id="editor">
  <textarea></textarea>
</div>-->
