<div style="padding: 30px;">

  <div style="display: flex;justify-content: space-between;margin-bottom: 30px;">
    <button nz-button nzType="primary"><i nz-icon type="save" theme="outline"></i>保存</button>
    <div>
      <button nz-button nzType="primary"><i nz-icon type="eye" theme="outline"></i>预览</button>
      <button nz-button nzType="primary" style="margin-left: 24px;"><i nz-icon type="check-circle" theme="outline"></i>发布
      </button>
    </div>
  </div>

  <div style="display: flex;align-items: flex-start;">
    <div style="flex: 1;">
      <app-markdown></app-markdown>
    </div>

    <div style="width: 280px;background-color: antiquewhite;margin-left: 30px;">
      <nz-card [nzBordered]="false" [nzTitle]="postSettingTitle">

        <ng-template #postSettingTitle>
          <div style="text-align: center;width: 100%;">
            <i nz-icon type="setting" theme="twotone"></i>
            &nbsp;&nbsp;设置
          </div>
        </ng-template>

        <div style="margin-top: 10px;margin-bottom: 10px;">
          <i nz-icon type="info-circle" theme="outline"></i>
          状态：
          <strong>已发布</strong>
          <a style="margin-left: 6px;">设为草稿</a>
        </div>

        <div style="margin-top: 10px;margin-bottom: 10px;">
          <i nz-icon type="lock" theme="outline"></i>
          公开度：
          <strong>公开</strong>
          <a style="margin-left: 6px;">编辑</a>
          <div style="margin: 5px 18px 16px 18px ">
            <nz-radio-group [(ngModel)]="radioValue">
              <label nz-radio [ngStyle]="radioStyle" nzValue="A">公开</label>
              <div *ngIf="radioValue=='A'" style="margin-left: 16px;">
                <label nz-checkbox>将文章置于首页顶端</label>
              </div>
              <label nz-radio [ngStyle]="radioStyle" nzValue="B">密码保护</label>
              <div *ngIf="radioValue=='B'" style="margin-left: 16px;">
                <input nz-input placeholder="Basic usage" [nzSize]="'small'">
              </div>
              <label nz-radio [ngStyle]="radioStyle" nzValue="C">私密</label>
            </nz-radio-group>
            <div style="margin-top: 5px;">
              <button nz-button nzType="primary" [nzSize]="'small'">确定</button>
              <button nz-button nzType="default" [nzSize]="'small'" style="margin-left: 8px;">取消</button>
            </div>
          </div>
        </div>

        <div style="margin-top: 10px;margin-bottom: 10px;">
          <i nz-icon type="message" theme="outline"></i>
          评论：
          <strong>允许评论</strong>
          <a style="margin-left: 6px;">编辑</a>
          <div style="margin: 5px 18px 16px 18px ">
            <nz-radio-group [(ngModel)]="radioValue">
              <label nz-radio [ngStyle]="radioStyle" nzValue="A">允许评论</label>
              <div *ngIf="radioValue=='A'" style="margin-left: 16px;">
                <label nz-checkbox>评论需要审核</label>
              </div>
              <label nz-radio [ngStyle]="radioStyle" nzValue="C">禁止评论</label>
            </nz-radio-group>
            <div style="margin-top: 5px;">
              <button nz-button nzType="primary" [nzSize]="'small'">确定</button>
              <button nz-button nzType="default" [nzSize]="'small'" style="margin-left: 8px;">取消</button>
            </div>
          </div>
        </div>
        <nz-divider></nz-divider>

        <div style="padding-bottom: 5px;"><strong>分类 </strong></div>

        <nz-radio-group [(ngModel)]="radioValue">
          <label nz-radio [ngStyle]="radioStyle" nzValue="A">未分类</label>
          <label nz-radio [ngStyle]="radioStyle" nzValue="B">Option B</label>
          <label nz-radio [ngStyle]="radioStyle" nzValue="C">Option C</label>
        </nz-radio-group>

        <div style="margin-top: 10px;">
          <a><i nz-icon type="plus"></i> 新建分类</a>
        </div>

        <div style="margin-top: 10px;">
          <nz-input-group nzSearch  [nzSuffix]="suffixButton">
            <input type="text" nz-input placeholder="输入标签名称">
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary"  nzSearch>创建</button>
          </ng-template>
        </div>


        <nz-divider></nz-divider>

        <div style="padding-bottom: 10px;"><strong>标签</strong></div>
        <div>
          <nz-tag
            *ngFor="let tag of tags; let i = index;"
            [nzMode]="'closeable'"
            (nzAfterClose)="handleClose(tag)">
            {{ sliceTagName(tag) }}
          </nz-tag>
          <nz-tag
            *ngIf="!inputVisible"
            class="editable-tag"
            (click)="showInput()">
            <i nz-icon type="plus"></i> 新建标签
          </nz-tag>
        </div>


        <input
          #inputElement
          nz-input
          nzSize="small"
          *ngIf="inputVisible" type="text"
          [(ngModel)]="inputValue"
          style="width: 78px;"
          (blur)="handleInputConfirm()"
          (keydown.enter)="handleInputConfirm()">

        <div style="margin-top: 10px;">
          <a> 选择常用标签</a>
        </div>

        <div style="border:1px solid #ddd;padding: 8px;margin-top: 5px;">
          <nz-tag
            *ngFor="let tag of tags; let i = index;">
            {{ sliceTagName(tag) }}
          </nz-tag>
        </div>

        <nz-divider></nz-divider>
        <div style="display: flex;margin-bottom: 14px;">
          <strong style="flex-grow: 1;">封面</strong>
        </div>
        <img style="width: 100%;" src="http://subhd.com/sub/poster/l/p2533370401.jpg"/>
        <div style="margin-top: 10px;">
          <a class="ng-star-inserted">取消封面图片</a>
        </div>
      </nz-card>
    </div>
  </div>

</div>
